
@{
    ViewBag.Title = "Admin Ana Sayfa";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div id="content">
    <div class="container background-white">
        <div class="container">
            <div class="row margin-vert-30">
                <h2>Yönetim Sayfası</h2>
                @{Html.RenderAction("AdminMenu", "Admin");}
            </div>
        </div>
    </div>
</div>

