
@{
    ViewBag.Title = "Şifre yenileme";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<h5 class="auth__title">Email veya kullanıcı adı Giriniz</h5>
@Html.ValidationSummary()
@using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "auth__form js-register-form js-parsley" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
        </span>
        <input placeholder="Email veya Kullanıcı adı" name="recover" id="recover" class="form-control" type="text">
    </div>
    <button type="submit" class="auth__in auth__in--submit pull-right info">Şifreyi Gönder</button>
    <div class="auth__row">
        <span class="auth__links">Üye iseniz<a href="@Url.Action("Login","Account")"> Tıklayın</a> veya <a href="@Url.Action("Register","Account")">Kayıt ol</a></span>
    </div>
}

