<div id="hornav" class="bottom-border-shadow">
    <div class="container no-padding border-bottom">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav">
                        <li>
                            <a href="index.html" class="fa-home active">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Settings","Admin")" class="fa-gears">Ayarlar</a>
                        </li>
                        <li>
                            <span class="fa-copy ">İşlemler</span>
                            <ul>
                                <li>
                                    <a href="@Url.Action("ArizaYonetimi","Admin")">Arıza Yönetimi</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AnketYonetimi","Admin")">Anketler</a>
                                </li>
                                <li>
                                    <a href="pages-faq.html">F.A.Q.</a>
                                </li>
                                <li>
                                    <a href="pages-about-me.html">About Me</a>
                                </li>
                                <li>
                                    <a href="pages-full-width.html">Full Width</a>
                                </li>
                                <li>
                                    <a href="pages-left-sidebar.html">Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="pages-right-sidebar.html">Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="pages-login.html">Login</a>
                                </li>
                                <li>
                                    <a href="pages-sign-up.html">Sign-Up</a>
                                </li>
                                <li>
                                    <a href="pages-404.html">404 Error Page</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="fa-th ">Portfolio</span>
                            <ul>
                                <li>
                                    <a href="portfolio-2-column.html">2 Column</a>
                                </li>
                                <li>
                                    <a href="portfolio-3-column.html">3 Column</a>
                                </li>
                                <li>
                                    <a href="portfolio-4-column.html">4 Column</a>
                                </li>
                                <li>
                                    <a href="portfolio-6-column.html">6 Column</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="fa-font ">Blog</span>
                            <ul>
                                <li>
                                    <a href="blog-list.html">Blog</a>
                                </li>
                                <li>
                                    <a href="blog-single.html">Blog Single Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
